<div class="container-fluid !direction !spacing">
    <button type="button" class="btn btn-succes" (click)="check()" >click</button>
    <h1>Student</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>age</th>
             
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let e of getlist' >
                <td scope="row">{{e.n}}</td>
                <td>{{e.g}}</td>
            </tr>
         </tbody>
    </table>    
</div>
