.container{
    background-color: slategray;
    height: 550px;
    color: black;
    font-size: 50px;
    display: flex;
    flex-direction: column;
   }
.col{
}
.tryit{
   border: 2px red solid;
   height: min-content;
   width: min-content;
}